:root {
	scroll-behavior: smooth;

	--hydrogen-lavender: #a9889a;
	--starglow: hsl(36, 29%, 10%);
	--space-black: #29212c;
	--space-blue: #0b141e;
	--pillar-blue: #a9b2d0;
	--hydrogen-clay: #c08896;

	--c-text: white;
	--c-stroke: var(--hydrogen-lavender);
	--border: 2px solid var(--c-stroke);
	--glass-outline-offset: -1px;
	--glass-outline: 1px solid #fff2;
	--c-background: black;
	--normal-gap: 2.5vw;
	--unwrap-card-right-padding: 7.6vw;
	
}

h2 {
	font-family: Genos, sans-serif;
	font-size: 5vw;
	font-weight: 200;
	line-height: 100%;
	letter-spacing: 8%;
	text-align: center;
	border-bottom:2px solid var(--c-text);
}

p, ul, li {
	font-family: 'Exo 2', sans-serif;
	/* font-size: 1.33rem; */
	font-size: 1.4vw;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 2%;

	.squish & {
		font-size: 1.25vw;
		line-height: 130%;
	}
}

.headingless {
	&::first-line {
		text-decoration: underline;
		font-weight: 600;
		& b {
			font-weight: 800;
		}
	}
	&::first-letter {
		font-weight: 900;
		font-size: 1.8vw;
	}
}

a {
	color: var(--pillar-blue);
	&:visited {
		color: var(--hydrogen-clay);
	}
}

blockquote, blockquote p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.56vw;
	font-weight: 600;
	font-style: italic;
	line-height: 130%;
	letter-spacing: 0%;
}

.citation {
	text-align: right;
	font-size: 1.25vw;
	
	& .source::after {
		content: ' - '
	}
	
	& cite::after {
		content: ', '
	}
}

figcaption, .caption {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 1.25vw;
	line-height: 130%;
	letter-spacing: 0%;
}

.heading-medium {
	font-family: "Genos", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 3.2rem;
	transition: font-size 200ms;
}

.heading-large {
	font-family: "Genos", sans-serif;
	font-weight: 500;
	font-size: 5.5rem;
}

.center-text{
	text-align: center;
}

.card-heading {
	font-family: "Exo 2", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 5rem;
	text-align: right;
}

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-position: inside;
}

body {
	color: white;
	background: var(--c-background);
}

h1 {
	padding: 0.2em 1.5rem;
}

.space-out {
	display: flex;
	justify-content: space-between;
	gap: var(--normal-gap);	
}

.space-by-gap {
	display: flex;
	justify-content: start;
	gap: 1.5lh;

	&.squish {
		gap: 1lh;
	}
}

.horizontal {
	flex-direction: row;
}

.vertical {
	flex-direction: column;
}

.normal-gap {
	padding: var(--normal-gap);
	gap: var(--normal-gap);
}

#m16-poc-25th {
	padding: 6rem var(--unwrap-card-right-padding) 3rem 5vw;
	gap: 5vw;
}

#m16-about {
	padding: 4.5rem var(--unwrap-card-right-padding) 6rem 2.5vw;
}

#m16-spire-text {
	padding: 0 var(--unwrap-card-right-padding) 0.75rem;
	& blockquote {
		margin: 0.5em 0 ;
	}
}

#m17-about {
	padding: 10.93vw 2.5vw 0 0;
}

#m20-about {
	padding: 6rem 3rem 0;
	background: linear-gradient(180deg, var(--space-blue), transparent);
}

#m8-about {
	padding: 3rem 1.5rem;
	background: linear-gradient(0deg, var(--starglow), transparent 20%, transparent 80%, var(--starglow));
}

#m8-img-cards {
	padding: 0.75rem 1.5rem;
}

.hero {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.card-nav {
	flex: 1 1;
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	border-top: var(--border);
	border-bottom: var(--border);

	& a:hover {
		cursor: pointer;
		flex-basis: 125%;
		& :last-child {
			font-size: 4rem;
		}
	}
}

img {
	object-fit: contain;
	aspect-ratio: auto;
	width: 100%;
	.card & {
		height: 100%;
		width: 100%;
		object-fit: cover;
		outline: var(--glass-outline);
		outline-offset: var(--glass-outline-offset);
	}
}

#m16-spire, #m17-sofia, #m20-97 {
	min-width: 33.36vw;
	max-width: 33.36vw;
}

#m16-v-i {
	min-width: 32.6vw;
	& img {
		object-fit: contain;
	}
}

#m16-poc-v-i {
	min-width: 37.5vw;
	width: 37.5vw;
}

#m17-v-c {
	min-width: 50vw;
}

figcaption {
	text-align: justify;
	text-justify: auto;
	font-size: 1rem;
}

.hover-frame {
	display: grid;
	place-items: start;

	& .show-on-hover {
		opacity: 0;
	}

	&:hover {
		& .show-on-hover {
			opacity: 1;
		}

		& .hide-on-hover {
			opacity: 0;
		}		
	}

	& .show-on-hover, .hide-on-hover {
		transition: opacity 1000ms ease-in-out;
	}

	& .overlay {
		height: auto;
	}
}
.card {
	flex: 1 1 100%;
	& > .overlay {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		& > * {
			margin: 1.5rem;
		}
	}
	transition: flex-basis 200ms;
}

.overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: scroll;

	:has(> &) {
		position: relative;
	}

	figcaption& {
		box-sizing: border-box;
		height: fit-content;
		top: auto;
		bottom: 4px;
		--c-stroke: black;
		padding: 0.25em 0.5em;
	}
}

.banner {
	& > h1 {
		box-sizing: border-box;
		padding-top: 0.7em;
		display: flex;
		gap: 0.5em;
		align-items: start;
		justify-content: center;
		& > :not(.divider) {
			flex: 1;
		}
		& > .divider {
			letter-spacing: 0.25ch;
		}
		& :first-child {
			text-align: right;
			letter-spacing: 0.3ch;
		}
		& :last-child {
			letter-spacing: 0.15ch;
		}
	}

	& img {
		width: 100vw;
		height: 18.75vw;
		object-fit: contain;
	}
}

.glass {
	outline: var(--glass-outline);
	outline-offset: var(--glass-outline-offset);
	&.overlay {
		background: #0d0d0d2c;
		backdrop-filter: blur(1px);
	}
}

#intro {
	padding: var(--normal-gap);
	background:
		linear-gradient(180deg, transparent, #000b 13%, black),
		linear-gradient(90deg, #050b2964, #00968e64 12%, #89554d64 26%, #42243464 50%, #70799e64 60%, #2a2d3864 75%, #424b6564 80%, #55423e64 91%, #23262d64),
		black;
}

#m16 {
	background: black;

	& section:has(+ .pillar-bg-gradient) {
		background: 
			linear-gradient(180deg, black, transparent),
			linear-gradient(90deg, #9ea7cc22, transparent 63%),
			var(--space-black);
	}

	& .pillar-bg-gradient {
		outline: var(--glass-outline);
		outline-offset: var(--glass-outline-offset);
		background:
			linear-gradient(270deg, #29212C 37%, rgba(41, 33, 44, 0) 63%),
			radial-gradient(9% 9% at 30% 82%, rgba(83, 57, 86, 0.8) 0%, rgba(83, 57, 86, 0) 100%),
			radial-gradient(25% 16% at 30% 34%, #7D75AE 0%, rgba(93, 85, 139, 0.5) 43%, rgba(95, 87, 142, 0) 100%),
			radial-gradient(30% 84% at 30% 70%, #863842 0%, rgba(128, 48, 51, 0) 100%),
			radial-gradient(32% 47% at 30% 8%, #9eb2cc 0%, #7b85bc80 63%, rgba(123, 133, 188, 0) 100%),
			#29212C;
	}

	& #m16-poc-25th {
		background:
			linear-gradient(0deg, black, transparent),
			linear-gradient(90deg, #86384230, transparent 63%),
			var(--space-black);
	}
	
	#m16-poc-unwrap {
		width: 88vw;
		margin: auto;

		& img {
			outline: none;
		}
		
		& figcaption {
			padding: 0 2vw 0 3vw;
			display: grid;
			grid-template-columns: 1.09fr 1fr;
			gap: 5.4vw;
		}
	}
}

.outlined-text {
	/* Brute force outlined text, -webkit-text-stroke does not look good with certain fonts */
	color: var(--c-text);
	--offset: 0.02em;
	--offset-i: calc(0px - var(--offset));
	--blur-radius: 1px;
	text-shadow:
		var(--offset) var(--offset-i) var(--blur-radius) var(--c-stroke),
		calc(var(--offset) * 1.5) 0 var(--blur-radius) var(--c-stroke),
		var(--offset) var(--offset) var(--blur-radius) var(--c-stroke),
		0 calc(var(--offset-i) * 1.5) var(--blur-radius) var(--c-stroke),
		0 calc(var(--offset) * 1.5) var(--blur-radius) var(--c-stroke),
		var(--offset-i) var(--offset-i) var(--blur-radius) var(--c-stroke),
		calc(var(--offset-i) * 1.5) 0 var(--blur-radius) var(--c-stroke),
		var(--offset-i) var(--offset) var(--blur-radius) var(--c-stroke);
}